@use "flecss";


@include flecss.set-color("bg", #FFFFFF, #2A2A2A);
@include flecss.set-color("fg", #181818, #FFFFFF);
@include flecss.set-color("gray", #DCDCDC, #393939);
@include flecss.set-color("action", #3209FF, #7D69FF);

:root {
    --border: 1px solid #{flecss.get-color("gray")};
}

html {
    background-color: flecss.get-color("bg");
    color: flecss.get-color("fg");
}

a {
    color: flecss.get-color("action");
    
    &:hover {
        color: flecss.get-color("action", "down");
    }
}

.background-gray {
    background-color: flecss.get-color("gray");
}

.border-bottom {
    border-bottom: var(--border);
}

.card {
    @include flecss.class("padding");

    border: var(--border);
    border-radius: 0.3rem;
}