@use "flecss";


/**
 * *** Custom style atomics (flecss) ***
 */

// Font family
@include flecss.font("Montserrat", "https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2");

// Color scheme
@include flecss.color("primary", #3209FF, #7D69FF);
@include flecss.color("secondary", #EADBFF, #393264);
@include flecss.color("bg", #FFFFFF, #2A2A2A);
@include flecss.color("fg", #181818, #FFFFFF);
@include flecss.color("fg-gray", #6F6F6F, #A9A9A9);
@include flecss.color("bg-gray", #F4F4F9, #393942);


/**
 * *** Custom properties ***
 */

:root {
    --border: 1px solid #{flecss.color("bg-gray")};
    --border-radius: 0.375rem;
}


/**
 * *** Custom element defaults ***
 */

 html {
    background-color: flecss.color("bg");
    color: flecss.color("fg");
    font-family: "Montserrat";
}

a {
    color: flecss.color("primary");
    
    &[target="_blank"]::after {
        content: "↗";
        display: inline-block;
        margin-left: flecss.space("xxs");
        font-size: 0.575em;
        transform: translateY(-0.475em);
    }
}


/**
 * *** Custom utilities ***
 *     Enable composition
 */

.background {
    &-gray {
        background-color: flecss.color("bg-gray");
    }
    &-highlight {
        background-color: flecss.color("secondary", "light");
    }
}

.text {
    &-display {
        font-size: flecss.headingsize(0);  // one step larger than heading 1 (‘H0’)
        font-weight: 800;
    }
    &-subtle {
        color: flecss.color("fg-gray");
    }
}

.rounded {
    border-radius: var(--border-radius);
}


/**
 * *** Custom components (with flecss) ***
 *     Enforce (basic) consistency,
 *     prevent composition (recognition over recall)
 */

.header {
    border-bottom: var(--border);
}

.card {
    @include flecss.class("flex_vertical--zero");

    border: var(--border);
    border-radius: var(--border-radius);
    overflow: hidden;

    &--gray {
        background-color: flecss.color("bg-gray");
    }

    &-image {
            width: 100%;
        height: 15vh;
    }
    &-text {
        @include flecss.class("padding");
    }
}

.button {
    @include flecss.class("padding_vertical--xs");
    @include flecss.class("padding_horizontal--m");
    @include flecss.class("text--s");

    background-color: flecss.color("primary");
    color: flecss.color("fg", null, "dark");
    font-weight: 600;
    text-transform: uppercase;
    border-radius: var(--border-radius);

    &:hover {
        background-color: flecss.color("primary", "dark");
    }

    &--subtle {
        background-color: flecss.color("bg");
        color: flecss.color("primary");
        border: 1px solid flecss.color("primary");

        &:hover {
            background-color: flecss.color("bg", "dark");
        }
    }
}

.hero {
    background: linear-gradient(45deg, flecss.color("bg"), flecss.color("primary", "light") 750%);
}