@mixin font($name, $url, $weight: null) {
    @font-face {
        font-family: "#{$name}";
        font-display: swap;
        font-weight: #{if($weight, $weight, 100 900)};
        src: url("#{$url}");
    }
}