@use "sass:math";

@use "flecss.config" as config;

@use "../../_property";

@use "./__orders";


@function _compute-fontsize($scale-coefficient, $exponent) {
   @return 1rem * math.pow($scale-coefficient, $exponent);
}


@function fontsize($order: "m") {
   @if $order == "zero" {
      @return 0;
   }
   
   @return _compute-fontsize(config.$fontsize-scale-coefficient, map-get(_orders.$orders, $order));
}

@function headingsize($level) {
   @return _compute-fontsize(config.$headingsize-scale-coefficient, 5 - $level);
}


h1 {
   font-size: headingsize(1);
}
h2 {
   font-size: headingsize(2);
}
h3 {
   font-size: headingsize(3);
}
h4 {
   font-size: headingsize(4);
}
h5 {
   font-size: headingsize(5);
}
h6 {
   font-size: headingsize(6);
}