@use "sass:math";

@use "config.flecss" as config;

@use "../../_property";

@use "../state/breakpoint";

@use "./__orders";


@function _compute-fontsize($scale-coefficient, $exponent) {
	@return 1rem * math.pow($scale-coefficient, $exponent);
}


@function fontsize($order: "m") {
	@if $order == "zero" {
		@return 0;
	}

	@return _compute-fontsize(config.$fontsize-scale-coefficient, map-get(_orders.$orders, $order));
}


@include property.define-scoped-property("headingsize", "responsive-discount-coefficient", 1.0);
@include breakpoint.breakpoint--m {
    @include property.define-scoped-property("headingsize", "responsive-discount-coefficient", 0.9);
}
@include breakpoint.breakpoint--s {
    @include property.define-scoped-property("headingsize", "responsive-discount-coefficient", 0.775);
}
@include breakpoint.breakpoint--xs {
    @include property.define-scoped-property("headingsize", "responsive-discount-coefficient", 0.625);
}

@function headingsize($level) {
	@return calc(_compute-fontsize(config.$headingsize-scale-coefficient, 5 - $level) * property.get-scoped-property("headingsize", "responsive-discount-coefficient"));
}


h1 {
	font-size: headingsize(1);
}
h2 {
	font-size: headingsize(2);
}
h3 {
	font-size: headingsize(3);
}
h4 {
	font-size: headingsize(4);
}
h5 {
	font-size: headingsize(5);
}
h6 {
	font-size: headingsize(6);
}