@use "sass:math";

@use "config.flecss" as config;

@use "../../_property";

@use "../state/breakpoint";

@use "./__orders";


@include property.define-scoped-property("space", "responsive-discount-coefficient", 1.0);
@include breakpoint.breakpoint--m {
    @include property.define-scoped-property("space", "responsive-discount-coefficient", 0.9);
}
@include breakpoint.breakpoint--s {
    @include property.define-scoped-property("space", "responsive-discount-coefficient", 0.825);
}
@include breakpoint.breakpoint--xs {
    @include property.define-scoped-property("space", "responsive-discount-coefficient", 0.8);
}


@function _compute-space($exponent, $negative) {
    $factor: 1;
    @if $negative {
        $factor: -1;
    }

    @return calc(
          #{$factor * config.$base-space * math.pow(config.$space-scale-coefficient, $exponent)}
        * #{property.get-scoped-property("space", "responsive-discount-coefficient")}
    );
}


@function space($order: "m", $negative: false) {
    @if $order == "zero" {
        @return 0;
    }

    $exponent: map-get(_orders.$orders, $order);
    @if $exponent < 0 {
        $exponent: $exponent * 0.9;
    }   // small space growth smoothing

    @return _compute-space($exponent, $negative);
}